<div class="container">
  <div class="row justify-content-center">
    <div class="col align-self-center">
    <img src="erika_photoshop_3.jpg" alt="Avatar" style="width:160%">
    </div>
      <div class="col align-self-end">
      <p>Hey, thank you for stepping by! How are you? Here's a little bit about me. I am writer, web developer and social entrepeneur. 
      Previously, I have worked many years in various big and small companies in marketing. I won't mention names because it makes no difference. 
      I left that world or that world "forced me" out. I am glad to be out of the rat race. My main focus today is how am I contributing to the world by being in it? 
      I love writing and it's a huge part of me. I am working on my first book (forever) now but once I put my full focus I'll get there. 
      I found my outlet of cretivity be developing websites. Yes, you heard me right. Creating websites it's super creative and I love it. This website was developed by me totally from scratch.
      For the past few years, I have been developing beautiful get aways too. Right now we have three the most outstanding places Islamabad, Pakistan, Malaga, Spain and Kupiskis, Lithuania. 
      All of these places were re-designed and created with lots of love. All of the designs, furniture are handpicked by us me and my fabulous husband. 
      We currently have an amazing gallery of the handmade carpets in Barcelona. It's a plce not only for you to come and visit but also to learn some coding as we run short workshops for web development.</p>
      </div>
  </div>
</div>





