<div class="header">
  <h2>My Writing</h2>
</div>

<div class="card-group">
  <div class="card">
    <img src="teachings.jpg" class="card-img-top" alt="teachings.jpg">
    <div class="card-body">
      <h5 class="card-title">Teachings of the Old Silk Road</h5>
      <p class="card-text">How Travelling 16 hours on the Old Silk Road can change you.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
  <div class="card">
    <img src="Malaga_21.jpg" class="card-img-top" alt="Malaga.jpg">
    <div class="card-body">
      <h5 class="card-title">Discovering Malaga in the Time of the Pandemic</h5>
      <p class="card-text">Travelling in Covid-19 time and what you learn about the cities.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
  <div class="card">
    <img src="Pakistan_lake.jpg" class="card-img-top" alt="Pakistan_lake.jpg">
    <div class="card-body">
      <h5 class="card-title">Ten Things I miss about Pakistan</h5>
      <p class="card-text">You might miss them too if you visit Islamabad, Pakistan</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
</div>
