<div class="card-container2 white" >
<div class="text-description">
<div style="text-align: right"><img src="erika_photoshop_5.jpg" alt="Girl in a jacket" width="800" height="600">
</div>   
</div>    
<div class="card-wrapper">
<div class="card-pink">
    <div class="card-description2">
    
    <form action="https://formspree.io/info@ceziam.com" method="POST">
    <p class="signup"> SAY HELLO! </p>
    Name:<br>
    <input 
        type="text" 
        name="firstname"
        style="background-color:white; 
      vertical-align:9px;color: #4F4F4F">
    <br>
    Email:<br>
    <input 
        type="text" 
        name="email"
        style="background-color:white; 
      vertical-align:9px;color: #4F4F4F">
    <br>
    Country:<br>
    <input 
        type="text" 
        name="Country"
        style="background-color:white; 
      vertical-align:9px;color: #4F4F4F"> 
    <br>
    Message:<br>
    <input 
        type="text" 
        name="message"
        style="background-color:white; 
      vertical-align:9px;color: #4F4F4F"> 
    <br>
    <input type="submit" value="Submit">
    </form>
    </div> 
    </div> 
</div>
</div>
</div>

<div class="card-container3" id="card-3">
  <div class="orange-vector">
  </div>
</div>


        
       
       