
<div class="flex-grid" >
    <div class="col">
    <h1>Erika Chaudhary</h1>
    <p>Writer & Web Developer</p>
    <a class="button-purple" href="#"> Writing</a>
    <a class="button-purple" href="#"> Web Development</a>
    <a class="button-purple" href="#"> Get Away </a>
    </div> 


    <div class="col">
        <img src="erika_photoshop_4.jpg" alt="Girl in a jacket" width="800" height="600">

  </div>

  <div class="card-container3" id="card-3">
  <div class="orange-vector">
  </div>
</div>
  
 
