
<div class="container home">
  <div class="row align-items-center">
    <div class="col">
    Erika Chaudhary
    <p> Writer & Web Developer</p>
  <button type="button" class="btn btn-outline-dark">Writing</button>
   <button type="button" class="btn btn-outline-dark">Services</button>
    </div>
    <div class="col">
    <img src="erika_photoshop_4.jpg" alt="Avatar" style="width:160%">
    </div>

  </div>

</div>

