
<div class="card-container2">
<div class="text-description">
<h1>Erika Chaudhary</h1>
<p>Writer & Web Developer</p>
<a class="button-purple" href="#"> Writing</a>
<a class="button-purple" href="#"> Web Development</a>
<a class="button-purple" href="#"> Get Away </a>
</div> 

<div class="card-wrapper">
<div class="card-pink">
    <div class="card"><img src="erika_photoshop_4.jpg" alt="Girl in a jacket" width="800" height="600">
</div> 
</div>
</div>
  
 
