
      <div class="card-container2 white" >
    <div class="text-description">
      <p> 
      Do you like my website? I designed it, code it out all by myself and if you love it I can create a website for yout too. 
      When I first tried to develop a website it made me realise how much fun it is. I love it. It's creative. It's exciting. 
      It can drive one up the wall. It's always challenging BUT it's always rewarding. The most creative time is when I develop websites.
      It's the most fun and exciting times when working on a website. It can take a while to get one line of code working but it's the most 
      rewarding when it does. Then, I see complete change from when I started to where I am today. Look, I've got the whole website done from scratch. 
      I haven't used wordpress, squarespace or wix. My whole website is pure code. I worked using Ruby on Rails (amazing coding language!!!)
      I did both front and back end. What do I prefer? I love to make things pretty, however, that's the harder part of coding. However, back end is
      what makes it all work. I love both because you need them both. It's like a fish cannot live wihtout water. 
      How did I do it? Well, my husband helped me a bit when I was stuck and I learned a lot from him. So I owe it to him a huge amount. If I can do it, 
      so can you too! If that's what interest you. 
      </p>
    </div> 
<div class="card-wrapper">
    <div class="card-pink">
        <div class="card-description2">
            
        <img src="erika_photoshop_2.jpg" width="800" height="600"> 
</div>
</div>

<div class="card-container3" id="card-3">
  <div class="orange-vector">
  </div>
</div>