.button {
    z-index: 99999;
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    font-size: 18px;
    text-align: center;
    border: #FFFDFD 2px solid;
    border-radius: 60px;
    color: #2e2a2a !important;
    text-decoration: none !important;
    width: 250px;
    padding-top: 10px;
    padding-bottom: 10px;
    transition: 0.4s;
    background-color: #9edcf5;
  }
.button:hoover {
    background-color: rgb(161, 203, 238);
}