.container {
  background-color: white;
}


.card-container1 {
    position: left;
    display: flex;
    align-items: left;
    justify-content: space-around;
    height: 100vh;
    background: #FFFDFD;
  }
  
  .card-container1 {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 135vh;
    background: #FFFDFD;
  }
  
  .container-wrapper {
    display: flex;
    flex-direction: column;
    height: 60%;
    width: 40%;
  }

  .card-container1 {
    display:flex;
    justify-content: space-between;
  }
 