.footer {
    text-align: center;
    padding: 60px;
    background-color: white;
  }
  
  .footer a {
    font-size: 30px;
    color:  rgb(30, 177, 221);
  }
  
  .footer p {
    color: #6B6C6C;
  }
  
  .footer .fas {
    color: #BF0F12;
  }