.member {
    display: inline;
}
.name {
    display: inline;
}
.member img {
    width: 13%;
    display: block;
}
.member {
    display: inline-block;
    width: 150px;
    height: 200px;
    vertical-align: top;
    text-align:center;
    }
    .name {
        display: inline;
    }
    .member img {
        width: 100%;
        display: block;
    }