.navbar-lewagon {
  justify-content: space-between;
  background: white;
  text-decoration: none;
}

.text-landing-link:hover {
  color: #13abda;
  text-decoration: none;
}

.text-landing-link .nav-item {
  color: #1cc467;
  text-decoration: none;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
  text-decoration: none;
  justify-content: space-between;
}

.navbar-nav-item li {
  margin-left: auto;
  margin-right: auto;
  justify-content: space-between;
}

.navbar-nav-item li {
  margin-left:30px;
  margin-right:30px;
  justify-content: space-between;
}